SERVER_PORT=8890

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/findr
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres

FIREBASE_PROJECT_ID=findr-product-route-optimizer

APP_ALLOWED_ORIGINS=http://localhost:19006,http://localhost:8081,http://localhost:3000
